<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>Upload both CSVs to join</h1>
    <p>
      <em
        >Open source project found @
        <a href="https://github.com/dalsontws/csv-joiner" target="_blank"
          >here</a
        ></em
      >
    </p>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="first_csv" accept=".csv" /></p>
      <p><input type="file" name="second_csv" accept=".csv" /></p>
      <p>
        <label>Column to join on</label>
        <input type="text" name="column_to_join" />
      </p>
      <p><input type="submit" value="Submit" /></p>
    </form>
  </body>
</html>
